body {
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid orange;
    width: 500px !important;
    margin: 0 auto;
    background-color: chartreuse;
}

h1 {
    margin-top: 100px;
    text-shadow: 3px 2px rgb(112, 110, 110);
}

p {
    text-align: center;
    color: rgb(28, 94, 185);
}

p.number_2 span {
    background-color: tomato;
    color: white;
    padding: 5px;
}

p.number_2.specific_class span {
    background: yellow;
}

p.number_2:not(.specific_class) span {
    background: brown;
}

div.button_1 {
    text-align: center;
}

div.button_2 {
    text-align: center;
}

button#test_2 {
    margin-top: 40px;
}

.col1 {
    background: red;
    border: 2px solid black;
}

.col2 {
    background: blue;
    border: 2px solid yellow;
}

.col3 {
    background: green;
    border: 2px solid orange;
}

.col-r {
    background: red;
}

.awesome-btn {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

@media screen and (min-width: 100px) and (max-width: 200px) {
    .col-r {
        background-color: pink;
    }
}

div.devices-r {
    background: yellow;
    display: block;
}

@media screen and (max-width: 500px) {
    /* div.devices-r{
        display:block;
    } */
    div.devices-r:nth-of-type(2) {
        background: blue;
    }
    /* .devices-r:nth-of-type(2){
        display:none;
    } */
}

/* @media (min-width: 501px) {
    .devices-r:nth-of-type(1){
        display:none;
    }
    .devices-r:nth-of-type(2){
        display:block;
    }
    
} */