body {
    font-family: Arial, Helvetica, sans-serif;
    border: 3px solid orange;
    width: 500px !important;
    margin: 0 auto;
    background-color: chartreuse !important;
}
h1 {
    margin-top: 100px;
    text-shadow: 3px 2px rgb(112, 110, 110);
  }

p {
    text-align: center;
    color: rgb(28, 94, 185);
}

span {

background-color: tomato;
color: white;
padding: 5px;
}

.highlight {
    color: brown
}