body {
    margin-top: 50px;
}

.edit-cls {
    margin-left: 5px;
}

.hideEdit {
    display: none;
}

.showEdit {
    display: inline-block;
}

.del-checkbox {
    margin-right: 5px !important;
}

select#dropDown.form-control.my-drop-down {
    display: inline-block;
    width: 200px;
}

.checkbox label {
    margin-left: 9px;
}

.col-md-4 input {
    font-style: italic;
    text-transform: capitalize;
    width: 250px;
    border-radius: 7px;
}

body.main-body {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #243B55, #141E30);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #243B55, #141E30);
    background: #2980b9;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2c3e50, #2980b9);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2c3e50, #2980b9);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    /* background-repeat: repeat-x 2; */
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container.top-container {
    margin-top: 170px;
    /* box-shadow: 7px 9px 15px -2px rgba(0, 0, 0, 0.75); */
    /* border-radius: 10px 10px 10px 10px; */
}

input#item {
    box-shadow: 7px 9px 15px -2px rgba(0, 0, 0, 0.75);
}

.container.lower-container {
    margin-top: 35px;
    background-color: rgb(238, 238, 238);
    -webkit-box-shadow: 7px 9px 15px -2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 9px 15px -2px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 9px 15px -2px rgba(0, 0, 0, 0.75);
    border-radius: 10px 10px 10px 10px;
}

a.go-to-the-top {
    display: inline-block;
    background: #4F7CAC;
    text-decoration: none;
    cursor: pointer;
    margin-top: 30px;
    margin-left: 81%;
    color: #9CF6F6;
    border-radius: 4px;
    width: 160px;
    text-align: center;
    border: 1px solid darkblue;
    height: 34px;
    padding-top: 6px;
}

a.go-to-the-top:hover, :focus {
    text-decoration: none;
}

a.go-to-the-bottom {
    display: inline-block;
    background: #4F7CAC;
    text-decoration: none;
    cursor: pointer;
    /* margin-top: 10px; */
    margin-left: 221%;
    color: #9CF6F6;
    border-radius: 4px;
    width: 160px;
    text-align: center;
    border: 1px solid darkblue;
    height: 34px;
    padding-top: 6px;
}

a.go-to-the-bottom:hover, :focus {
    text-decoration: none;
}



button.btn.btn-danger.edit-cls {
    background: #4F7CAC;
    color: whitesmoke;
}

button#add.btn.btn-primary {
    box-shadow: 7px 9px 15px -2px rgba(0, 0, 0, 0.75);
}