body {
    margin-top: 50px;
}


.edit-cls {
    margin-left: 5px;
}

.hideEdit {
    display: none;
}

.showEdit {
    display: inline-block;
}

.del-checkbox {
    margin-right: 5px !important;
}


